WcfTest/Client/Service References/TeachManagerProxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="GetTeachersByClassId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gidClassId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersByClassIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetTeachersByClassIdResult" nillable="true" type="q2:ArrayOfTeacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsByClassId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gidClassId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsByClassIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetStudentsByClassIdResult" nillable="true" type="q4:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetAllClassesResult" nillable="true" type="q5:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objClass" nillable="true" type="q6:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objClass" nillable="true" type="q7:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objClass" nillable="true" type="q8:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objTeacher" nillable="true" type="q9:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeacherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objTeacher" nillable="true" type="q10:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTeacherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objTeacher" nillable="true" type="q11:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTeacherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objStudent" nillable="true" type="q12:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objStudent" nillable="true" type="q13:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objStudent" nillable="true" type="q14:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeachRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objTeacher" nillable="true" type="q15:Teacher" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objClass" nillable="true" type="q16:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeachRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeachRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeachRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objTeacher" nillable="true" type="q17:Teacher" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objClass" nillable="true" type="q18:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeachRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTeachRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeachRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objTeacher" nillable="true" type="q19:Teacher" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="objClass" nillable="true" type="q20:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeachRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTeachRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>