WcfTest/Client/Service References/TeachManagerProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTeachManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITeachManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeachManager_GetTeachersByClassId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersByClassId" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_GetTeachersByClassId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersByClassIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_GetStudentsByClassId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByClassId" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_GetStudentsByClassId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByClassIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_GetAllClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClasses" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_GetAllClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassesResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddClass_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClass" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClassResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateClass_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClass" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClassResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteClass_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClass" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClassResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddTeachRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeachRelation" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_AddTeachRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeachRelationResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateTeachRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeachRelation" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_UpdateTeachRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeachRelationResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteTeachRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeachRelation" />
  </wsdl:message>
  <wsdl:message name="ITeachManager_DeleteTeachRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeachRelationResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeachManager">
    <wsdl:operation name="GetTeachersByClassId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/GetTeachersByClassId" message="tns:ITeachManager_GetTeachersByClassId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/GetTeachersByClassIdResponse" message="tns:ITeachManager_GetTeachersByClassId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByClassId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/GetStudentsByClassId" message="tns:ITeachManager_GetStudentsByClassId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/GetStudentsByClassIdResponse" message="tns:ITeachManager_GetStudentsByClassId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/GetAllClasses" message="tns:ITeachManager_GetAllClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/GetAllClassesResponse" message="tns:ITeachManager_GetAllClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/AddClass" message="tns:ITeachManager_AddClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/AddClassResponse" message="tns:ITeachManager_AddClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/UpdateClass" message="tns:ITeachManager_UpdateClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/UpdateClassResponse" message="tns:ITeachManager_UpdateClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/DeleteClass" message="tns:ITeachManager_DeleteClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/DeleteClassResponse" message="tns:ITeachManager_DeleteClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/AddTeacher" message="tns:ITeachManager_AddTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/AddTeacherResponse" message="tns:ITeachManager_AddTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/UpdateTeacher" message="tns:ITeachManager_UpdateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/UpdateTeacherResponse" message="tns:ITeachManager_UpdateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/DeleteTeacher" message="tns:ITeachManager_DeleteTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/DeleteTeacherResponse" message="tns:ITeachManager_DeleteTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/AddStudent" message="tns:ITeachManager_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/AddStudentResponse" message="tns:ITeachManager_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/UpdateStudent" message="tns:ITeachManager_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/UpdateStudentResponse" message="tns:ITeachManager_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/DeleteStudent" message="tns:ITeachManager_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/DeleteStudentResponse" message="tns:ITeachManager_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeachRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/AddTeachRelation" message="tns:ITeachManager_AddTeachRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/AddTeachRelationResponse" message="tns:ITeachManager_AddTeachRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeachRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/UpdateTeachRelation" message="tns:ITeachManager_UpdateTeachRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/UpdateTeachRelationResponse" message="tns:ITeachManager_UpdateTeachRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeachRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachManager/DeleteTeachRelation" message="tns:ITeachManager_DeleteTeachRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachManager/DeleteTeachRelationResponse" message="tns:ITeachManager_DeleteTeachRelation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITeachManager" type="tns:ITeachManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ITeachManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetTeachersByClassId">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/GetTeachersByClassId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByClassId">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/GetStudentsByClassId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/GetAllClasses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClass">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/AddClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClass">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/UpdateClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/DeleteClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/AddTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/UpdateTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeacher">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/DeleteTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/AddStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/UpdateStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/DeleteStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeachRelation">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/AddTeachRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeachRelation">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/UpdateTeachRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeachRelation">
      <soap12:operation soapAction="http://tempuri.org/ITeachManager/DeleteTeachRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTeachManager">
    <wsdl:port name="NetTcpBinding_ITeachManager" binding="tns:NetTcpBinding_ITeachManager">
      <soap12:address location="net.tcp://localhost:1234/TeachManangerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1234/TeachManangerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ZSD\scbj01</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>